<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="canonical" href="http://equipos-scraper.herokuapp.com/" />
<html>
  <head>
    <link rel="StyleSheet" type="text/css" href="../css/styles.css" />
    <link rel="icon" type="image/x-icon" href="icon.ico" />
    <title style="color:red">Tabla de la primera división de futbol argentino</title>
  </head>
  <body>
    <h1 style="color:red">Tabla de posiciones deportivas</h1>
    {{{body}}}
  </body>
</html>